{% extends "layout.html" %}
{% block content %}
<h1 class="mb-4">What is NFTMe?</h1>
<p style="font-size: 20px">
   NFTMe is the result of a fun coding challenge posed by <strong>Shopify</strong>. </br></br>
   <img src="/static/nfts/shopify.png"/> </br>
   Originally, I set out to create a regular image repository- but I knew that I had to put my </br>
   own fintech twist on things while also creating a shop-like marketplace (just like one that could be made from using <strong>Shopify</strong>).</br>
   So, I decided to tailor the platform towards NFTs (non-fungible tokens)!
   </br></br>
   NFTs are a type of data stored on the blockchain, meaning that each NFT is unique. </br></br>
   There is a huge buzz out there surrounding NFTs so I took the opportunity of the presented challenge
   to hop on the trend!
   </br></br>
   I hope you enjoy playing around with this fullstack application!
   -Trent
</p>
{% endblock content %}